body {
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 40px;
}

.nav-link {
  color: #071c4d;
}
.nav-link.active {
  font-weight: bold;
  color: #071c4d;
}

.btn-login {
  background-color: #071c4d;
  color: white;
}
.btn-login:hover {
  background-color: #284ea7;
  color: white;
}

header {
  padding: 180px 0px 165px;
  margin-top: -70px;
  background-image: url(../images/header.jpg);
  background-size: cover;
}
header h1,
header p {
  color: white;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}
header p {
  font-size: 22px;
}
header .btn-get-started {
  background-color: #ff9e53;
  color: white;
}
header .btn-get-started:hover {
  background-color: #fdc193;
  color: white;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 35px;
  text-align: center;
}
.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 600px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 150px;
}
.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 400px;
  background-color: #000000;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}
.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 18px;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 23px;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details:hover {
  background-color: #fdc193;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 250px;
  padding-bottom: 50px;
}
.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-networks p {
  font-size: 18px;
}
.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: #051334;
  padding-top: 60px;
  min-height: 550px;
}
.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}
.section-testimonial-heading p {
  font-size: 18px;
  color: white;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}
.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
  background-color: #f7f6f6;
}
.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 400px;
}
.section-testimonial-content .card-testimonial .testimonial-content h3 {
  font-size: 22px;
}
.section-testimonial-content .card-testimonial .testimonial-content .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
}
.section-testimonial-content .card-testimonial .testimonial-content .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}
.section-testimonial-content .card-testimonial .testimonial-content hr {
  margin-left: -20px;
  margin-right: 20px;
}
.section-testimonial-content .btn-get-started {
  background-color: #ff9e53;
  color: white;
}
.section-testimonial-content .btn-get-started:hover {
  background-color: #fdc193;
  color: white;
}
.section-testimonial-content .btn-need-help {
  background-color: #cecece;
  color: #ffffff;
}
.section-testimonial-content .btn-need-help:hover {
  background-color: #f2f2f2;
  color: #c3c3c3;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}
.section-details-content .card-details h1 {
  font-size: 26px;
}
.section-details-content .card-details h2 {
  font-size: 20px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}
.section-details-content .card-details .trip-informations td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: bold;
}
.section-details-content .card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: bold;
}
.section-details-content .card-details h3 {
  font-weight: 600;
  font-size: 14px;
  color: #071c4d;
}
.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}
.section-details-content .card-details .btn-add-now {
  background-color: #071c4d;
  color: white;
}
.section-details-content .card-details .btn-add-now:hover {
  background-color: #284ea7;
  color: white;
}
.section-details-content .card-details .features {
  margin-top: 20px;
}
.section-details-content .card-details .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}
.section-details-content .card-details .features p {
  margin-bottom: 0;
}
.section-details-content .card-details .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .features .description .featured-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .card-details .gallery .xzoom-container {
  display: block;
}
.section-details-content .card-details .gallery .xzoom-container .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.section-details-content .card-details .gallery .xzoom-container .xactive {
  border: 4px solid #1abc9c;
  box-shadow: none;
}
.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.section-details-content .join-container {
  margin-top: -20px;
}
.section-details-content .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}
.section-details-content .btn-join-now:hover {
  background-color: #fdc193;
  color: white;
}/*# sourceMappingURL=main.css.map */